{% extends 'base.html' %}

{% block title %}
Tomoyan's Page
{% endblock %}


{% block body %}

<h2>Tomoyan's Blog</h2>
<p>
こんにちは！
ともやんです！
</p>
<p>
このWebサイトは、「ホームページ作りたいけど難しそう」とか「ホームページの作り方調べてみたけど挫折した」とか「iPhoneアプリ作ってみたいけど何からすればいいの！？」とか思っている方に少しでも助けになればと思って作ったものです。
</p>
<p>
基本的には僕が興味持ったことに関して適当にやってます。
</p>
<p>
とりあえずとっかかりは適当で良いと思んですよね。
</p>
<p>
難しい言葉や定義はできるようになってから調べれば良いと想います。
</p>
そのうちYoutubeとかも配信してみたいなあと思ってます。
<p>
リクエストとか質問はContactから気軽にメールしてください。
</p>
<p>
なるべく全てに答えます。
</p>

<div id="profile">
<h2>Profile</h2>
<p>
1991 生誕
</p>
<p>
~2003 幼少期を適当に過ごす
</p>
<p>
~2006 中学生も適当に過ごす
</p>
<p>
~2010 高校生でバイトと遊びに明け暮れる
</p>
<p>
~2015 某大学でプログラミングと出会う
</p>
<p>
2015~ 某システム企業でエンジニアとして働く
</p>
</div>


<div id="contact">
<h2>Contact</h2>
<a href="https://github.com/tomoyanp">Git Hub</a>
E-Mail : <a href="mailto:tomoyanpy@gmail.com">tomoyanpy@gmail.com</a>
</div>

{% endblock %}

