{% extends "base.html" %}


{% block body %}

こんにちは！
今日は早速ですけどhtmlを書きましょう。

※興味ねえよ早く書き方教えろやという方は下のボタンを押してください。かっこよく移動します。
<input type=button value="Go!!">
htmlとはなんぞや？と思っている方に。
htmlとはHyper Text Markup Languageの略です。
はい、意味わかんないですね。
すごく簡単に言うと、ホームページ等のwebページを構成する要素ですね。
'<html>'とか'<body>'とか見た事ありますよね？
これは'<body>'←ここからホームページの内容始まりますよ。
とか
'<head>'←ここからホームページのヘッダーが始まりますよ。
とかのタグを使用してホームページの体裁やレイアウトを定義するということなのです。
ちなみに'<p>'はParagrafの意味で、ここから段落が始まりますという意味です。
ホームページを構成する要素はいくつかあって、
html - 基本的な体裁を担当
css - 色や配置などのデザインを担当
Javascript - 動的な動き(本当に単純に言えば、アニメーションや通信を伴う処理)を担当
とおおまかに別れますが、これら他の要素についてはまた別途記載することにしましょう。

今回はhtmlをやります！
htmlはwebページの基本的な体裁ということなので、htmlをマスターすれば
その時点で「おれホームページ作れるぜ」と言っていいでしょう。

ではその肝心の作り方ですが、

<div id="program">
&lt;html&gt;
  &lt;head&gt;
  &lt;/head&gt;

  &lt;body&gt;
  &lt;/body&gt;
&lt;/html&gt;
</div>

以上です！

{% endblock %}
